### Unity ###
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Pp]ackages/manifest.json
/P[p]ackages/packages-lock.json
/[Pp]ackage[Cc]ache/
/[Pp]ackage[Cc]ache/com.unity.inputsystem@*/InputSystem
/[Aa]sset[Ss]tore/
/[Cc]ache/

/[Ll]ibrary/[Bb]ee/
/[Ll]ibrary/[Ss]criptAssemblies/
/[Ll]ibrary/SourceAssetDB
/[Ll]ibrary/SceneVisibilityState.asset
/[Ll]ibrary/Search/
/[Ll]ibrary/ArtifactDB
/[Ll]ibrary/ilpp.pid
/[Ll]ibrary/**/*.meta
*.mvfrm
*.bak

# Log Files
/[Ll]ogs/
/[Ll]ogs/AssetImportWorker*.log
/[Ll]ogs/shadercompiler-UnityShaderCompiler*.log

# Ignore VS/IDE related files
.vs/
/*.csproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs

# Builds
*.apk
*.unitypackage
*.app

# Gradle cache
.gradle/
